$color-blue-0:#0a2e72;
$color-green-0:#0088ff;
$color-gray-0:#454d5d;
$color-orange-0:#ff9000;
$color-blue-1:#00ffc0;
$color-white-0:#fff;
$color-white-1:#f9f9f9;
$color-gray-1:#e4e4e4;
$color-yellow-0:#CC7C18;
$color-blue-2:#17397A;
$color-gray-2:#5e6f8e;
$color-white-2:#f8f8f8;
$color-gray-3:#eef6fc;
$color-gray-4:#eff3f6;
$color-white-3:rgba(0,0,0,0);
$color-white-4:#f7f7f7;
$color-white-5:rgba(110,120,145,0.1 );
$color-green-1:#163c86;
$color-gray-5:#4a6aa7;
$color-white-6:#173e87;


$fs-0:13px;
$fs-1:24px;
$fs-2:14px;
$fs-3:56px;
$fs-4:16px;
$fs-5:36px;
$fs-6:28px;
$fs-7:36px;
$fs-8:11px;
$fs-9:15px;
$fs-10:18px;
$fs-11:-56px;

$fw-3:300;
$fw-0:400;
$fw-1:600;
$fw-2:700;

$lh-0:11;
$lh-1:13;
$lh-2:10;
$lh-3:26px;

$height-0:42px;
$height-1:60px;
$height-2:91px;
$height-3:31px;
$height-4:405px;
$height-5:263px;
$height-6:572px;
$height-7:800px;
$height-8:49px;


$width-0:162px;
$width-1:14px;
$width-2:153px;
$width-3:320px;
$width-4:535px;
$width-5:82px;
$width-6:97px;
$width-7:400px;
$width-8:217px;





$fd-2:13px;
$fd-0:14px;
$fd-1:27px;
$fd-3:7px;
$fd-4:9px;
$fd-5:100px;
$fd-6:2vw;
$fd-7:0.5vw;
$fd-8:17px;
$fd-9:34px;
$fd-10:53px;

$border-radius:13px;

$mg-0:13px;
$mg-1:30px;

$breakpoint:(
    'screen':1400px,
    'small-screen':1240px,
    'Extra large': 1200px,
    'large': 992px,
    'medium': 768px,
    'small': 576px,
    
)